<?xml version ="1.0" encoding="utf-8"?>
<widget xmlns ="http://www.w3.org/ns/widgets"
		xmlns:gap ="http://phonegap.com/ns/1.0'
		id ="cpm.phonegap.api-request"
		version ="1.0.0">
		<name>myfirstapp</name>
		<preference name="fullscreen" value="true" />
		<description> this application is my first hybrid application </description>
		<icon src ="ligasimage/cap.png"/>
</widget>